<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kazak.Properties.Settings.mainConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Oliasha\Desktop\main.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kazak.Properties.Settings.mainConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=main.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kazak.Properties.Settings.mainConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\main.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>